backports.tarfile==1.2.0
beautifulsoup4==4.12.3
classes==0.4.1
faiss-cpu==1.9.0
flask==3.0.3
importlib-metadata==8.0.0
importlib-resources==6.4.0
jaraco.collections==5.1.0
moviepy==1.0.3
openai==1.53.0
pip-chill==1.0.3
platformdirs==4.2.2
psycopg2-binary==2.9.10
pypdf2==3.0.1
python-dotenv==1.0.1
sqlalchemy==2.0.36
streamlit-js-eval==0.1.7
tomli==2.0.1
torch==2.5.1
transformers==4.46.1
whisper==1.1.10
requests==2.32.3
appinsights==0.13.0
gunicorn
